/*****----- Configuration -----*****/
configuration {
    modi:                       "powermenu";
    show-icons:                 false;
    display-powermenu:          "Power";
}

/*****----- Imports -----*****/
@import                          "../_base.rasi"
@import                          "../colors/nord.rasi"

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       400px;
    x-offset:                    0px;
    y-offset:                    0px;
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @border-colour;
    cursor:                      "default";
    background-color:            @background-colour;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @border-colour;
    background-color:            transparent;
    children:                    [ "listview" ];
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       5;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @border-colour;
    background-color:            transparent;
    text-color:                  @foreground-colour;
    cursor:                      "default";
}

/*****----- Element overrides for centered powermenu -----*****/
element {
    padding:                     10px 20px;
    border-radius:               0px;
    background-color:            transparent;
    text-color:                  @foreground-colour;
    orientation:                 horizontal;
    spacing:                     10px;
}

element selected.normal {
    background-color:            @selected-normal-background;
    text-color:                  @selected-normal-foreground;
}
